@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans:wght@300&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans:wght@300&family=Roboto+Slab&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&family=Open+Sans:wght@300&family=Roboto+Slab&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&family=Open+Sans:wght@300&family=Roboto+Slab:wght@100;200;300;400;500&family=Source+Sans+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin: auto;
  padding: 0 2rem;
}

body {
  font-family: 'Roboto Slab', 'Manrope', 'Open Sans', sans-serif, serif;

  /* background: #FDC830; 
  background: -webkit-linear-gradient(to right, #F37335, #FDC830); 
  background: linear-gradient(to right, #F37335, #FDC830); */
}

.btn-grad {
  /* background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%); */
  /* margin: 10px; */
  /* padding: 15px 45px; */
  background: #F7971E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  /* box-shadow: 0 0 20px #eee; */
  /* border-radius: 10px; */
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
